@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "./partials/variables"; // colors, fonts etc...

@import "./partials/mixins"; // custom mixins

@import "./partials/layout"; // responsive grid and media queries

@import "./partials/reset"; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    @include box-sizing(border-box);
}

*::after,
*::before {
    content: "";
}

body {
    font: {
        size: 100%;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $color-1;
    background-color: $color-4;

    &::after {
        /* dark overlay layer - visible when we fire .cd-quick-view */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-3, 0.8);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }

    @include MQ(L) {
        &.overlay-layer::after {
            visibility: visible;
            opacity: 1;
            -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
            -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
            transition: opacity 0.3s 0s, visibility 0s 0s;
        }
    }
}

img {
    max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: $XL; // breakpoints inside partials > _layout.scss
    margin: 0 auto;
    @include clearfix;
    position: relative;
}

/* -------------------------------- 

Main components 

-------------------------------- */

html,
body {
    height: 100%;
}

header {
    position: relative;
    height: 160px;
    line-height: 170px;
    text-align: center;
    @include font-smoothing;

    h1 {
        color: $color-4;
        @include font-size(20px);
    }

    @include MQ(M) {
        line-height: 180px;

        h1 {
            @include font-size(26px);
        }
    }

    @include MQ(L) {
        line-height: 220px;
    }
}

.cd-items {
    padding: 1em 0;

    @include MQ(M) {
        padding: 2em 0 0;
    }

    @include MQ(L) {
        padding: 4em 0 0;
    }
}

.cd-item {
    position: relative;
    margin: 0 0 1em;

    > img {
        display: block;
        width: 100%;
    }

    @include MQ(M) {
        @include column(0.48);
        margin: 0 4% 2em 0;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include MQ(L) {
        @include column(0.22);
        margin: 0 4% 2.8em 0;

        &:nth-child(2n) {
            margin-right: 4%;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        &.empty-box::after {
            /* box visible as placeholder when the .cd-quick-view zooms in */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: darken($color-3, 5%);
        }
    }
}

.cd-trigger {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(#000, 0.1);
    text-align: center;
    @include font-smoothing;
    color: $color-4;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.2s, background-color 0.2s);

    &:hover {
        color: $color-4;
        text-decoration: underline;
    }

    .no-touch &:hover {
        background: rgba(#000, 0.2);
    }

    @include MQ(L) {
        /* always visible on small devices */
        visibility: visible;
        opacity: 1;
    }

    @include MQ(XL) {
        /* only visible on hover on big devices */
        opacity: 0;
    }
}

@include MQ(XL) {
    .no-touch .cd-item:hover .cd-trigger {
        opacity: 1;
    }

    .touch .cd-item .cd-trigger {
        opacity: 1;
    }
}

.cd-quick-view {
    /* quick view non available on small devices */
    display: none;

    @include MQ(L) {
        display: block;
        position: fixed;
        max-width: 900px;
        visibility: hidden;

        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: left, top, width;

        @include clearfix;
        z-index: 1;

        &.is-visible {
            /* class added when user clicks on .cd-trigger */
            visibility: visible;
        }

        &.animate-width {
            /* class added at the end of the first zoom-in animation */
            background-color: $color-4;
            box-shadow: 0 0 30px rgba(#000, 0.2);
            @include transition(box-shadow 0.3s);
        }
    }
}

.cd-slider-wrapper {
    position: relative;
    float: left;
    @include clearfix;
}

@include keyframes(cd-slide-in) {
    0% {
        @include transform(translate3d(-40px, 0, 0));
    }

    100% {
        @include transform(translate3d(0, 0, 0));
    }
}
